<!DOCTYPE html>
<html lang="en" ng-app="toDoApp">
  <head>
    <meta charset="UTF-8" />
    <title>Example - example-guide-concepts-1-production</title>
    <script src="//code.angularjs.org/snapshot/angular.min.js"></script>
    <script src="todo.js"></script>
  </head>
  <body ng-controller="ToDoController as ToDo">
    <ng-include src="'components/main/main.html'"></ng-include>
    <h2>You've got <span>{{ToDo.getTotalTodos()}}</span>things to do</h2>
    <ul>
      <li ng-repeat="todo in ToDo.todos">
        <input type="checkbox" ng-model="todo.done" />
        <span>{{todo.text}}</span>
      </li>
    </ul>
    <form>
      <input
        placeholder="I need to..."
        type="text"
        ng-model="ToDo.todoText"
        ng-model-instant
      />
      <button ng-click="ToDo.addTodo()"><h2>Add</h2></button>
    </form>
  </body>
</html>
