<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>AngularJS and PHP Database Connection</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="index.js"></script>
  </head>
  <body ng-app="crudApp">
    <div
      class="container"
      ng-controller="todosController"
      ng-init="getRecords()"
    >
      <div class="row">
        <div class="panel panel-default users-content">
          <div class="panel-heading">
            Todos
            <a
              href="javascript:void(0);"
              class="glyphicon glyphicon-plus"
              onclick="$('.formData').slideToggle();"
            ></a>
          </div>
          <div class="alert alert-danger none"><p></p></div>
          <div class="alert alert-success none"><p></p></div>
          <div class="panel-body none formData">
            <form class="form" name="todoForm">
              <div class="form-group">
                <label>Text</label>
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  ng-model="tempTodosData.name"
                />
              </div>
              <div class="form-group">
                <label>Done</label>
                <input
                  type="number"
                  class="form-control"
                  name="is_done"
                  ng-model="tempTodosData.is_done"
                />
              </div>
              <a
                href="javascript:void(0);"
                class="btn btn-warning"
                onclick="$('.formData').slideUp();"
                >Cancel</a
              >
              <a
                href="javascript:void(0);"
                class="btn btn-success"
                ng-hide="tempTodosData.id"
                ng-click="addTodo()"
                >Add Todo</a
              >
              <a
                href="javascript:void(0);"
                class="btn btn-success"
                ng-hide="!tempTodosData.id"
                ng-click="updateTodo()"
                >Update Todo</a
              >
            </form>
          </div>
          <table class="table table-striped">
            <tr>
              <th width="5%">#</th>
              <th width="50%">Text</th>
              <th width="35%">Done</th>
              <th width="10%"></th>
            </tr>
            <tr ng-repeat="todo in todos | orderBy:'-created'">
              <td>{{$index + 1}}</td>
              <td>{{todo.text}}</td>
              <td>{{todo.is_done}}</td>
              <td>
                <a
                  href="javascript:void(0);"
                  class="glyphicon glyphicon-edit"
                  ng-click="editTodo()"
                ></a>
                <a
                  href="javascript:void(0);"
                  class="glyphicon glyphicon-trash"
                  ng-click="deleteTodo()"
                ></a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
